@import "{{site.theme}}";
body {
  font-family: system-ui,
    -apple-system, BlinkMacSystemFont;  
}
.site-title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
}
.site-logo img {
  max-width: 110px; 
  height: auto;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  
}

@media (max-width: 600px){
  .site-logo img {
    max-width: 90px;
  }
  .site-title {
    font-size: 1.2rem;
  }
}

.site-description {
  font-size: 0.95rem;
  text-align: center;
}

.site-logo {
  margin-bottom: 20px;  
}
