@import "{{site.theme}}";

/* Make profile/logo circular */
.site-avatar img {
  border-radius: 50%; /* Makes the image circular */
  width: 120px;      /* Adjust size as needed */
  height: 120px;     /* Adjust size as needed to maintain a circle */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Font */
body {
  font-family: system-ui,
    -apple-system, BlinkMacSystemFont;  
}

/* Description */
.site-description {
  font-size: 0.95rem;
  text-align: center;
}


  /* Table row colors */
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey background */
  }

  tr:nth-child(odd) {
    background-color: #ffffff; /* White background */
  }
  /* Table header */
  th {
    background-color: #0969DA; /* GitHub primary blue */
    color: white;
  }

